---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

Brief Biography  
======

<p align="justify">
Yang Li received the B.E. and M.E. degrees in electronic information engineering from Beihang University (BUAA), Beijing, China, in 2012 and 2015, respectively, and the Ph.D. degree in electrical and electronic engineering from The University of Hong Kong (HKU) in 2019. From 2019 to 2020, he was a Senior Research Engineer with the Huawei Noah’s Ark Laboratory. From December 2020 to March 2025, he was a Research Scientist with Shenzhen Research Institute of Big Data, and also was an Adjunct Assistant Professor with the School of Science and Engineering, The Chinese University of Hong Kong, Shenzhen, China. Since March 2025, he has been an Associate Professor with the School of Computing and Information Technology, Great Bay University (GBU), Dongguan, China. His research interests include <strong>wireless communications</strong>, <strong>learning to optimize</strong>, and <strong>distributed optimization</strong>. He was a recipient of the 2020 Innovation Pioneer Award from Huawei.
</p>

<!-- 
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
-->


